<app-navbar></app-navbar>

<div class="team">
    <img class="team-logo" src="/assets/logos/logo-jeux.png" alt="">
    <p *ngIf="teamId==='agences'">#TEAM AGENCES</p>
    <p *ngIf="teamId==='mandataires'">#TEAM MANDATAIRES</p>

    <div class="team__description">
        <p><span>10 000€ </span>de bons cadeaux et voyage mis en jeux ! <br>
        Tentez de remporter une ou plusieurs des <span>22 récompenses</span> mises en jeux parmi les <span>5 jeux concours</span> et devenez une #légende du groupe <span>GALAXIM</span></p>
    </div>
    <div class="team__gameList">
        <img class="team__gameList__game" 
            *ngFor="let game of gameList" 
            [routerLink]="['/game', game.id]" 
            [src]="game.img" 
            alt="{{ game.nameGame }}" />
    </div>
</div>
