<div class="card" [ngStyle]="getCardColor()">

    <div class="card-picture">
        <img class="card-rank" [src]="getCardLogoRanking()" alt="">
        <img class="card-img" [src]="userChild.photo || '/assets/photos/user.png'" [alt]="userChild.firstname">
    </div>

    <div class="card-body">
        <h3>{{userChild.firstname}} {{userChild.lastname}}</h3>
        <p><span>{{userChild.company}} </span> <span class="salesteam">{{userChild.office}}</span></p>
    </div>

 <!-- <p class="perf" *ngIf="getItemsEurosOrPoints()">{{userChild.salesPerformance}} {{getItemsEurosOrPoints()}}</p> -->
    <p class="perf" *ngIf="getItemsEurosOrPoints()">{{getPerformance()}} {{getItemsEurosOrPoints()}}</p>

</div>