<app-navbar></app-navbar>

<p-button class="previousPage-desktop" [routerLink]="['/admin']" type="button" icon="pi pi-arrow-left" label="Retour" [style]="{ background: 'linear-gradient(90deg, rgba(226,0,126,1) 0%, rgba(107,35,131,1) 100%)', width: '120px'}"></p-button>

<div class="header">
<h3>{{ selectedLink.toUpperCase() }}</h3>
<div class="filter">
    <app-admin-detail-filter (emitInputSearch)="filterValue = $event"></app-admin-detail-filter>

    <p-button (click)="openForm()" icon="pi pi-plus" label="Ajouter" [style]="{ background: '#2663EB', border: 'white'}"></p-button>
        <p-dialog *ngIf="addedLink" header="{{ selectedLink === 'agents' ? 'Nouvel agents' : selectedLink === 'agences' ? 'Nouvelle agence' : 'Nouveau mandataire' }}" [(visible)]="isOpen" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <app-admin-detail-form   
            [addedLink]="addedLink"
            [selectedLink]="selectedLink"
            [dataList]="dataList" 
            ></app-admin-detail-form>
        </p-dialog>
</div>

<app-admin-detail-list [selectedLink]="selectedLink" [dataList]="dataList" [filterValue]="filterValue"></app-admin-detail-list>
</div>

