<div class="text">
    <p class="text-1">
    <span class="text-1-title">Chers agents, chers gérants,</span>
    <br><br>Dans un contexte concurrentiel emprunt par l’attentisme de nos clients mais aussi de nos confrères et concurrents l’heure est au <span class="text-bold">CHALLENGE !</span> 
        <br><br>L’année <span class="text-bold">2024</span> est un tournant majeur pour notre groupe avec <span class="text-bold">l’arrivée du réseau AGENTYS</span> dans notre giron d’affaires, des agents passionnés et performants viennent agrandir cette grande famille professionnelle.
        <br><br>Je sais également à quel point la mise en place d’un Challenge a un effet stimulant pour les équipes afin de faire briller leur étendard, faire connaitre leur soucis de performance et permettre d’être reconnu comme un élément challenger du <span class="text-bold">groupe GALAXIM.</span>
        <br><br>C’est la raison pour laquelle nous avons décidé de vous mettre au défi en vous préparant non pas 1 mais <span class="text-bold">10 jeux concours !</span>
        <br><br>Dans ce challenge géant <span class="text-bold">TOUT LE MONDE</span> a sa chance de remporter un prix grâce à nos <span class="text-bold">44 récompenses</span> mises en jeux et puis comme disait Pierre De Coubertin : <span class="text-bold">« L’essentiel c’est de participer »</span>; cette phrase est à prendre avec toute la profondeur et la signification qu’elle revêt.
        <br><br>Alors je vous donne RDV sur le podium en <span class="text-bold">Mars 2025</span> lors d’une soirée de <span class="text-bold">Gala prestigieuse</span> pour <span class="text-bold">célébrer la performance,</span> le partage et repartir avec votre trophée pour devenir une <span class="text-bold">légende !</span>
        <br><br>Je vous promets un challenge et une expérience à la hauteur de vos espérances.
        <br><br>Je compte sur vous pour tenter de devenir une <span class="text-bold">« LEGEND OF GALAXIM »</span> lors de cette première édition.
        <br><br>Je terminerai par cette devise des jeux olympiques :
    </p>
    <p class="text-2">
        <span class="text-bold-2">«Citius, Altius, Fortius-Communiter»</span>
        «plus vite, plus haut, plus fort-ensemble»
    </p>
    <div class="signature">
        <p class="text-bold-3">Sébastien Doussaint
            <br>CEO & Founder GALAXIM</p>
        <img src="/assets/images/Photo_sebastien_contour.png" alt="photo Sébastien Doussain CEO & Founder GALAXIM">
    </div>
</div>

