<div class="navbar">
    <img class="navbar-logo-desktop" [routerLink]="['']" src="../assets/logos/galaxim-resize.png" alt="logo galaxim">
    <img class="navbar-logo-mobile" [routerLink]="['']" src="../assets/logos/galaxim_carre.png" alt="logo galaxim">

        <p-sidebar [(visible)]="sidebarVisible" position="top" class="navbar-sidebar" [style]="{height: '35rem'}" >
          <nav>
                <ul>
                    <li >
                        <a (click)="closeSidebar()" [routerLink]="['']">ACCUEIL</a>
                        <a (click)="closeSidebar()" [routerLink]="['/regles']">RÈGLES DU CHALLENGE</a>
                        <a (click)="closeSidebar()" [routerLink]="['/team', 'agences']">TEAM AGENCES</a>
                        <a (click)="closeSidebar()" [routerLink]="['/team', 'mandataires']">TEAM MANDATAIRES</a>
                        <a (click)="closeSidebar()" [routerLink]="['/inscription']">INSCRIPTION</a>
                    </li>
                </ul>
            </nav>
        </p-sidebar>
        <p-button (click)="sidebarVisible = true" icon="pi pi-align-justify" [style]="{ background: 'linear-gradient(90deg, rgba(226,0,126,1) 0%, rgba(107,35,131,1) 100%)'}"></p-button>
    </div>

